#!/bin/bash
# Copy this file to config.env and edit the variables to suit your needs
# The domains to migrate
declare -A DOMAINS=( [example.com]=true [example2.com]=true )
# User mailboxes to skip (use-case: accounts I had set-up to use in /etc/aliases which forwarded only, kept no mails in their inbox)
declare -A SKIPUSERS=( [olduser@example.com]=true )
# Host and port for the mailcow server
MCHOST=127.0.0.1
MCPORT=80
MCVMAIL=/var/lib/docker/volumes/mailcowdockerized_vmail-vol-1/_data/
